.sector {
  padding: 80px 300px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media only screen and (max-width: 1600px) {
    padding: 60px 250px 60px 250px;
  }
  @media only screen and (max-width: 1450px) {
    padding: 55px 170px 55px 170px;
  }
  @media only screen and (max-width: 1300px) {
    padding: 50px 150px 50px 150px;
  }
  @media only screen and (max-width: 1050px) {
    padding: 45px 100px 45px 100px;
  }

  @media only screen and (max-width: 610px) {
    padding: 40px 70px 40px 70px;
  }
  @media only screen and (max-width: 510px) {
    padding: 20px 20px 20px 20px;
  }

  &_block {
    display: flex;
    gap: 100px;
    align-items: center;

    @media only screen and (max-width: 1050px) {
      gap: 40px;
    }
    @media only screen and (max-width: 810px) {
      gap: 20px;
      flex-direction: row;
    }
    @media only screen and (max-width: 710px) {
      flex-direction: column-reverse;
    }

    &_image {
      width: 220px;
      height: 220px;

      @media only screen and (max-width: 410px) {
        width: 140px;
        height: 140px;
      }
    }
    &_first_text_block {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &_first_text {
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        color: #000000;

        @media only screen and (max-width: 1600px) {
          font-size: 13px;
          line-height: 21px;
        }
      }

      &_title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin: none;

        @media only screen and (max-width: 550px) {
          margin: auto;
          align-items: center;
        }
        &_text {
          font-size: 32px;
          line-height: 56px;
          font-weight: 500;
          color: #3a3a3a;

          @media only screen and (max-width: 1600px) {
            font-size: 30px;
            line-height: 50px;
          }
          @media only screen and (max-width: 550px) {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
          }
          
        }

        hr {
          width: 108px;
          height: 8px;
          background-color: #1c75bc;
        }
      }
    }
  }

  &_second_text {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;

    @media only screen and (max-width: 1600px) {
      font-size: 13px;
      line-height: 21px;
    }
  }

  &.variantB {
    background-color: #efefef;
    padding: 40px 300px;

    @media only screen and (max-width: 1600px) {
      padding: 40px 250px ;
    }
    @media only screen and (max-width: 1450px) {
      padding: 35px 170px ;
    }
    @media only screen and (max-width: 1300px) {
      padding: 30px 150px ;
    }
    @media only screen and (max-width: 1050px) {
      padding: 30px 100px ;
    }

    @media only screen and (max-width: 610px) {
      padding: 25px 70px;
    }
    @media only screen and (max-width: 510px) {
      padding: 20px 20px;
    }

    .sector_block {
      flex-direction: row-reverse;
      align-items: center;

      @media only screen and (max-width: 810px) {
        gap: 20px;
        flex-direction: row-reverse;
      }
      @media only screen and (max-width: 710px) {
        flex-direction: column-reverse;
      }

      &_image {
        width: 220px;
        height: 220px;

        @media only screen and (max-width: 410px) {
          width: 140px;
          height: 140px;
        }
      }
      &_second_text {
        font-size: 16px;

        @media only screen and (max-width: 1600px) {
          font-size: 14px;
        }
      }
    }
  }
}
