.price_section {
  &_boxes {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding: 50px 300px 0px 300px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    
    @media only screen and (max-width: 2080px) {
      transform: scale(0.92);
      transform-origin: center top;
    }
    @media only screen and (max-width: 1900px) {
      transform: scale(0.82);
      transform-origin: center top;
    }
    @media only screen and (max-width: 1750px) {
      transform: scale(0.75);
      transform-origin: center top;
      padding: 50px 200px 0px 200px;
    }
    @media only screen and (max-width: 1600px) {
      transform: scale(0.69);
      transform-origin: center top;
      padding: 50px 130px 0 130px;
    }
    @media only screen and (max-width: 1450px) {
      transform: scale(0.64);
      padding: 45px 100px;
    }
    @media only screen and (max-width: 1300px) {
      transform: scale(0.59);
      padding: 45px 90px;
      gap: 10px;
      flex-wrap: nowrap;
    }
    @media only screen and (max-width: 1150px) {
      transform: scale(0.55);
      padding: 45px 70px;
      gap: 8px;
    }
    @media only screen and (max-width: 1050px) {
      transform: scale(1);
      padding: 45px 90px;
      gap: 30px;
      flex-wrap: wrap;
    }
    @media only screen and (max-width: 710px) {
      padding: 45px 30px;
    }
  }
  &_description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 38px;
    align-items: center;

    @media only screen and (max-width: 610px) {
      gap: 15px;
      padding: 20px 70px;
    }
    @media only screen and (max-width: 410px) {
      padding: 20px 40px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      color: #3a3a3a;

      @media only screen and (max-width: 1300px) {
        font-size: 14px;
        word-break: auto;
        text-align: center;
      }
    }
  }
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
