.report {
  &_header {
    background-image: url("/auditor-page-image.png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 1600px) {
      height: 370px;
    }
    @media only screen and (max-width: 1300px) {
      height: 350px;
    }
    @media only screen and (max-width: 610px) {
      height: 280px;
    }
    
    &_section {
      padding-top: 74px;

      @media only screen and (max-width: 1600px) {
        padding-top: 60px;
      }
    }
  }

  &_certification_block {
    padding-bottom: 50px;
    background-color: #efefef;
  }

  &_form_block {
    position: relative;
    bottom: 175px;
  }
}
